/* DEBUG STYLES - Temporarily disabled */
/*
.bento-box-section {
  border: 3px solid red !important;
}

.site-footer {
  border: 3px solid lime !important;
  background: rgba(128, 0, 128, 0.5) !important;
  min-height: 200px !important;
  position: relative !important;
  z-index: 9999 !important;
}

.conveyor-belt {
  border: 3px solid yellow !important;
}

.home-page {
  border: 3px solid cyan !important;
}
*/
