/* ✨ Lumen-Goth Periwinkle Skin ✨ */

/* Backgrounds & Base */
$background-color: #3e105b !default; // deeper plum
$text-color: #d6cbff !default;       // soft periwinkle white
$primary-color: #9d5cff !default;    // vivid lavender/purple

/* UI + Code Accents */
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: #2e0044 !default;
$code-background-color-dark: #260038 !default;
$form-background-color: #2a003c !default;
$footer-background-color: #1a0029 !default;

/* Links */
$link-color: #b197ff !default; // holographic indigo
$link-color-hover: #e5d9ff !default;
$link-color-visited: mix(#000, $link-color, 20%) !default;

/* Nav + Masthead */
$masthead-link-color: #fff1ff !default;
$masthead-link-color-hover: #ffe3ff !default;
$navicon-link-color-hover: #5e008e !default;

/* Notices */
$notice-background-mix: 65% !default;
$code-notice-background-mix: 75% !default;

/* Syntax Highlighting */
$base00: #201020 !default;
$base01: #302030 !default;
$base02: #403040 !default;
$base03: #605060 !default;
$base04: #c3aaff !default;
$base05: #eee0ff !default;
$base06: #f8f0ff !default;
$base07: #ffffff !default;
$base08: #f58eff !default;
$base09: #fca3ff !default;
$base0a: #caa9ff !default;
$base0b: #a3ffea !default;
$base0c: #86aaff !default;
$base0d: #9c8fff !default;
$base0e: #ffb7ff !default;
$base0f: #d486ff !default;
