---
import { ViewTransitions } from 'astro:transitions';
import heroIcon from '../assets/hero-content.svg';
import '../styles/components.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={heroIcon.src} />
		<meta name="generator" content={Astro.generator} />
		<title>kenny madrigal</title>
		<meta name="description" content="digi portfolio - karla 'kenny' madrigal" />
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>

:root{
	--primary-purple: #540066;
	--dark-purple: #37003c;
	--darker-purple: #1a0033;
	--darkest-purple: #2e003e;
	--pink-accent: #ff9fff;
	--cyan-accent: #a0ffea;
	--text-light: #ffffff;
	--text-muted: #cccccc;
}

html,
body {
	margin: 0;
	width: 100%;
	min-height: 100%;
	background-color: var(--darker-purple);
	color: var(--text-light);
	font-family: "Space Grotesk", sans-serif;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

a {
	color: var(--cyan-accent);
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
	color: var(--pink-accent);
}

</style>
