<div class="sidebar__status-container" style="margin-bottom: 2rem;">
  <div class="sidebar__status" style="margin-bottom: 1rem;">
    <p><strong>Status:</strong><br>
    🧠 biting fixation<br>
    🛠️ currently working on:<br>
    <ul style="margin-left: 1em;">
      <li>📌 making my website presentable</li>
      <li>🌐 procrastinating on finals</li>
      <li>✨ wishing this semester was over</li>
    </ul>
    </p>
  </div>

  <!-- this is where we *manually* call toc.html below the status -->
  <div class="sidebar__toc">
    {% include toc.html %}
  </div>
</div>
