<div class="sidebar__status" style="background-color: #2e003e; padding: 1.25rem; border-radius: 1rem; color: white; font-size: 0.95rem; margin-bottom: 2rem;">
  <nav class="toc">
    <header>
      <h4 class="nav__title"><i class="fas fa-file-alt"></i> On this page</h4>
    </header>
    {% include toc.html sanitize=true html=content h_min=2 h_max=3 class="toc__menu" skip_no_ids=true %}
  </nav>

  <hr style="border-color: #aaa; margin: 1rem 0;">
  
<div class="sidebar-status" style="margin-top: 0.5rem;">
  <strong>Status:</strong>
  <div id="sidebarStatusText" style="margin-top: 0.4rem;">🎸 living my software intern life @Amazon. thanks DEI!</div>

  <div style="margin-top: 0.8rem;">
    <strong>also working on:</strong>
    <ul id="sidebarStatusList" style="margin-left: 1em; list-style-type: disc;">
      <li>feeding myself!</li>
      <li>socializing!</li>
      <li>depraved projects only the rephrensible can muster!</li>
      <li>listening to will wood!</li>
    </ul>
  </div>
</div>

</div>
